* {
    margin: 0;
    padding: 0;
}

.hero-section {
    background-color: #1F2837;
    height: 200px;
    font-family: 'Roboto';
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
}